<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyles.css">
</head>
<body>
    <h1><%= title %></h1>
   <form method="POST" action="/"> 
        <label>City</label>
        <input type="text" name='cityname'>
        <input type="submit" value="Submit" />
   </form>
    <% if (userValue) { %>
        <div id="info">
            <p>City: <%= city %></p>
            <p>Temperature: <%= temp %>°C</p>
        </div>
    <% } %>

</body>
</html>
